doctype html
html
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', href='css/user.css')
    title= user.login
  body
    div.user
      .mainmenu
        h1 ontWiKKelen
        .owner Вы
      .bodycontainer
        .chat
          #chatData
            table
          form#sendMessage
            table
              tr
                td
                  textarea(rows="6", cols="37", name="message")
                td
                  input(type="submit", value="Отправить")
        .avatar
          - var userAvatar= user.avatar || "/images/images.png"
            img(src="#{userAvatar}" alt='#{user.login}')
          form.choosePicture(name="chooseAvatar")
            input(type="file" name=user.login+"_photo" accept="image/*", required)
            p
              input(type="submit" value="Отправить")
        .userdata
          div.editProfile
          p.userName= user.name + " " + user.surname
          table.userInformation
            tr.date
              th День рождения
              td= user.date
            tr.city
              th Место проживания
              td= user.city
            tr.email
              th E-mail
              td= user.email
          table.editData
            tr.name
              th Имя
              td
                input(type="text", value="#{user.name}")
            tr.surname
              th Фамилия
              td
                input(type="text", value="#{user.surname}")
            tr.date
              th День рождения
              td
                input(type="text", value="#{user.date}")
            tr.city
              th Место проживания
              td
                  input(type="text", value="#{user.city}")
            tr.email
              th E-mail
              td
                  input(type="text", value="#{user.email}")
            tr
              td
              td
                button.cancelEditProfile(type="button") Cancel
                button.saveProfile(type="button") Save
